#khuyenmai{
    width: 1440px;
    height: 2462px;
}

.menu{
    width: 1440px;
    height: 133px;
}

.menu1{
    display: flex;
    justify-content: space-between;
}

.tm01 img{
    width: 165px;
    height: 41px;
    margin-left: 184px;
    margin-top: 38px;
}

.tm02 img{
    width: 78px;
    height: 67px;
    margin-top: 15px;
}

.tm03{
    margin-top: 20px;
    display: flex;
}

.tm03 p{
    margin-top: 30px;
    margin-right: 20px;
}

.tm03 button{
    margin-top: 16px;
    width: 135px;
    height: 42px;
    background-color: white;
    color: #00CC00;
    border: 1px solid black;
}

.menu2{
    display: flex;
    margin-left: 250px;
    justify-content: space-between;
}

.menu2_1{
    display: flex;
    width: 1440px;
}

.menu2_1 li{
    list-style: none;
    margin-right: 54px;
}

.menu2_1 img{
    margin-top: -10px;
    width: 37px;
    height: 39px;
}

.menu2_1 a{
    color: black;
    display: block;
    padding: auto;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.menu2_1 a:hover{
    color: #339900;
}

.menu2_1 .nhapchon{
    color: #00CC00;
}

/* Slide */

#slide{
    width: 1440px;
    height: 442px;
    position: relative;
}

#slide img{
    width: 1440px;
    height: 442px;
}

/* Khuyến mãi */
.khuyenmai{
    width: 1440px;
    height: 1422px;
}

.km1{
    width: 1440px;
    height: 80px;
    display: flex;
}

.km1 p{
    margin-right: 10px;
}

.km1_1 p{
    color: gray;
    margin-left: 581px;
}

.khuyenmai hr{
    width: 1206px;
    margin-left: 148px;
}

.km2{
    width: 1440px;
    height: 394px;
    margin-left: 149px;
    margin-top: 30px;
    display: flex;
}

.km2_1{
    width: 252px;
    height: 361px;
    margin-right: 63px;
}


.km2_1_text p{
    margin-right: 30px;
    color: grey;
}

.km2_1t_2{
    display: flex;
}

.km2_1t_2 img{
    width: 21px;
    height: 21px;
    margin-top: 14px;
}

.km21t_1{
    display: flex;
    margin-left: 14px;
}

.km2_1_tt{
    margin-left: 14px;
}

.km2_1_tt h6{
    font-size: 15px;
}


.km2_2{
    width: 252px;
    height: 361px;
    margin-right: 63px;
}


.km2_2_text p{
    margin-right: 30px;
    color: grey;
}

.km2_2t_2{
    display: flex;
}

.km2_2t_2 img{
    width: 21px;
    height: 21px;
    margin-top: 14px;
}

.km22t_1{
    display: flex;
    margin-left: 14px;
}

.km2_2_tt{
    margin-left: 14px;
}

.km2_2_tt h6{
    font-size: 15px;
}

.km2_3{
    width: 252px;
    height: 361px;
    margin-right: 65px;
}


.km2_3_text p{
    margin-right: 10px;
    color: grey;
}

.km2_3t_2{
    display: flex;
}

.km2_3t_2 img{
    width: 21px;
    height: 21px;
    margin-top: 14px;
}

.km23t_1{
    display: flex;
    margin-left: 14px;
}

.km2_3_tt{
    margin-left: 14px;
}

.km2_3_tt h6{
    font-size: 15px;
}

.km2_4{
    width: 252px;
    height: 361px;
    margin-right: 62px;
}


.km2_4_text p{
    margin-right: 10px;
    color: grey;
}

.km2_4t_2{
    display: flex;
}

.km2_4t_2 img{
    width: 21px;
    height: 21px;
    margin-top: 14px;
}

.km24t_1{
    display: flex;
    margin-left: 14px;
}

.km2_4_tt{
    margin-left: 14px;
}

.km2_4_tt h6{
    font-size: 15px;
}

/* Phần 3 */
.km3{
    width: 1440px;
    height: 394px;
    margin-left: 149px;
    margin-top: 30px;
    display: flex;
}

/* Button chuyển */
.btt_bam{
    width: 444px;
    height: 33px;
    margin-left: 515px;
    margin-bottom: 50px;
}


/* Thông tin */
/* Footer */
#footer{
    width: 1440px;
    height: 213px;
    margin-left: 166px;
    margin-top: 20px;
    display: flex;
}

#ft1{
    width: 583px;
    height: 367px;
    margin-right: 50px;
}

#ft1 p{
    margin-top: -10px;
}

#ft2{
    width: 335px;
    height: 222px;
}

#ft2 input{
    width: 201px;
    height: 38px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

#ft2 button{
    width: 57px;
    height: 38px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

#ft2 button:hover{
    background-color: #339900;
    color: white;
    border: 1px solid white;
}


/* Bản quyền */
.banquyen{
    width: 1440px;
    height: 23px;
    background-color: black;
}

.banquyen p{
    width: 329px;
    height: 19px;
    margin-left: 574px;
    color: white;
}
